body {
    background-color: lightgoldenrodyellow;
}

.img {
    width: 100%;
}

.jumbotron {
    background-color: brown;
    color: orange;
}

iframe {
    width: 100%;
    height: 300px;
}
#albums {
  color:  darkorange
}
#ablumlst {
  background-color: palegoldenrod
}
.CHS {
  color: darkgrey
}
#red {
  color: darkred
}

P {
  color: navy 
}

#bill {
  color: black
}